<div class="d-flex">
  <div class="p-4 shadow-lg p-3 w-100">
    <h2>My Favorites Fields</h2>
    <%# Filter buttons and order dropdown %>
    <div class="d-flex mt-3 align-items-center">
      <div class="me-3">
        <%= link_to "Indoor/Outdoor", "#", class: "btn btn-ghost mr-2" %>
        <%= link_to "Public/Private", "#", class: "btn btn-ghost mx-2" %>
        <%= link_to "Rating", "#", class: "btn btn-ghost ml-2" %>
      </div>
      <span>Par meilleures notes</span>
    </div>
    <%# Iteration over the fields, and cards %>

    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <% @fields.each do |field| %>
        <div class="card-field my-3" style="width: 48%;">
          <div class="field-pic-div">
            <div style="background-image: url(<%= cl_image_path field.photos.first.key%>); height: 200px;" class="field-pic">
            </div>
          </div>
          <div class="card-field-infos">
            <div>
              <h2><%= link_to field.name, "/", class: 'text-decoration-none text-black'%></h2>
              <p><%= field.description %></p>
              <p><%= field.address %></p>
            </div>
            <p class="card-field-user avatar-bordered"> <strong>Rating here</strong></p>
          </div>
          <div class="d-flex justify-content-between px-3 pb-2">
            <%= link_to "Find out more", field_path(field), class:"btn-find" %>
            <%# Bouton favori et delete pour les fields %>
            <% if current_user.fields.uniq.include? field %>
              <%= link_to field_favorite_path(field_id: field, id: current_user.favorites.find_by(field_id: field.id).id, source: 'fields'), method: :delete, class:'btn-fav' do %>
                <i class="fas fa-heart" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <h2 class="card-field-pricing" >
              <% if field.status_open? %>
                <span class="badge rounded-pill bg-success"><%= field.status.capitalize %></span>
              <% elsif field.status_closed? %>
                <span class="badge rounded-pill bg-danger"><%= field.status.capitalize %></span>
              <% else %>
                <span class="badge rounded-pill bg-warning text-dark"><%= field.status.capitalize %></span>
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
    <%#= paginate @fields %>
  </div>
  <%# </div> %>
</div>
<%# <%= image_tag("blob_index.png") %>
