<%# <div class="container chatroom">
  <h1>Chatroom for <%= @chatroom.field.name %>
<%#
  <div class="messages"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>
    <%# <% @chatroom.messages.each do |message| %>
      <%# <%= render "messages/message", message: message %>
    <%# <% end %>
  <%# </div> %>
<%# </div>

<%= simple_form_for [@field, @chatroom, @message], remote: true do |f| %>
  <%# <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.field.name}" %>
  <%# <%= f.button :submit, "Send", class: "btn btn-navbar" %>
<%# <% end %>
