<div class="container chatroom">
  <h1>Chatroom for <%= @chatroom.field.name %></h1>

  <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@field, @chatroom, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.field.name}" %>
  <%= f.button :submit, "Send", class: "btn btn-navbar" %>
<% end %>
