<div class= "container d-flex">
  <div class="w-50 shadow-lg p-3 m-5 bg-white rounded friend-space" >
    <h1>Friends</h1>
    <div class="friends ">
      <% current_user.friends.each do |friend| %>
        <div class="friend-profile">
          <% if friend.photo.present? %>
            <%= cl_image_tag friend.photo.key, class:"avatar-profile" %>
          <%else%>
            <%= image_tag("field.png", class:"avatar-profile")%>
          <% end %>
            <%= friend.username %>
            <%= link_to 'Delete', friendship_path(friend), method: :delete, class:"btn-delete-friends"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-50 shadow-lg p-3 m-5 bg-white rounded friend-space">
    <h1>Friends Requests</h2>
    <div class="friends">
      <% current_user.friend_requests.each do |friendship| %>
        <div class="friend-profile">
          <% if friendship.user.photo.present? %>
            <%= cl_image_tag friendship.user.photo.key, class:"avatar-profile" %>
          <%else%>
            <%= image_tag("field.png", class:"avatar-profile")%>
          <% end %>
          <%= User.find(friendship.user.id).username %>
          <div class="d-flex align-items-center justify-content-between w-100">
            <%= link_to 'Accept', friendship_path(friendship), method: :patch, class:"btn-accept-friends" %>
            <%= link_to 'Decline', friendship_path(friendship), method: :delete, class:"btn-delete-friends" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
