<div class= "container">
  <div >
    <h1>Friends</h1>
    <% current_user.friends.each do |friend| %>
      <%= User.find(friend.friend.id).username %>
      <%= link_to 'Delete', friendship_path(friend), method: :delete %>       
    <% end %>
  </div>
  <div>
    <h1>Friends Requests</h2>
    <% current_user.friend_requests.each do |friendship| %>
      <%= User.find(friendship.friend.id).username %>
      <%= link_to 'Decline', friendship_path(friendship), method: :delete %>
      <%= link_to 'Accept', friendship_path(friendship), method: :patch %>
    <% end %>
  </div>
</div>
