<div class="homepage">
  <div class="banner d-flex justify-content-between py-3">
    <div class="container d-flex flex-column justify-content-center banner-sport" id="picture-banner-basket">
      <div>
        <div class="w-50">
          <h1 class='element'></h1>
          <p>Sports Connect shows you every available fields near you, and creates communities there</p>
        </div>
        <%= simple_form_for :query, url: fields_path, method: :get do |f| %>
          <div class="inner-banner">
              <%# Création d'une search bar options_for_select va chercher la variable @sports dans le page controller %>
              <div id="select-home">
                <%= f.select :sport, options_for_select(@sports), label: false, include_blank: "Select a sport" %>
              </div>
              <%= f.input :address,label: false,
                          input_html: {
                            data: {
                              geocoder_target: "address"
                            },
                            class: "d-none"
                          },
                          wrapper_html: { class: 'mb-0', data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
                          placeholder: 'Where?'%>
              <%= f.input :perimeter, as: :select,collection: ["1km", "3km", "5km","10km","15km"], label: false, include_blank: "Perimeter " %>
              <%= button_tag type: 'submit', class: "btn-blue", data: { turbolinks: true } do %>
                <i class='fas fa-search'></i>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text-center d-none">
    <h2 class="mt-4">Best fields of month</h2>
  </div>
</div>
