<div class="container pb-4">
  <div class="card-profile">

    <div class="profile-container">
      <div>
        <%  if @user == current_user %>
          <%= link_to "edit profile", edit_user_registration_path, class:"btn-find"%>
        <% else %>
          <% if Friendship.find_by(user: current_user, friend: @user) %>
            <% if Friendship.find_by(user: current_user, friend: @user).confirmed %>
              <h5>You're friend</h5>
            <% else %>
            <h5>Still waiting ...</h5>
            <% end %>
          <% else %>
            <%= link_to "Add Friend", friendships_path(user: @user.id), method: :post, class:"btn-navbar" %>
          <% end %>
        <% end %>
        <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo.key, class:"avatar-profile" %>
        <%else%>
          <%= image_tag "field.png", class: "avatar-profile" %>
        <% end %>
      </div>
      <div class="profile-information">
        <h2><%= @user.first_name %> <%= @user.name %></h2>
        <p>Name</p>
        <h2><%= @user.username %></h2>
        <p>Username</p>
        <h2><%= @user.email %></h2>
        <p>Email</p>
        <h2><%= @user.age %></h2>
        <p>Age</p>
      </div>
    </div>

      <% unless @user == current_user %>
      <% end %>


      <div class="profile-information">
        <h1>Description</h1>
        <p><%= @user.description %></p>
      </div>
      <div class="profile-information">
        <h1>Favorites Sports</h1>
        <% @user.sports.each do |sport| %>
          <p><%= sport.name %></p>
        <% end %>
      </div>
    </div>


    </div>

  </div>
</div>
