<div class="profile-container">
  <%= link_to "edit profile", edit_user_registration_path, class:"btn-find"%>
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo.key, class:"avatar-profile" %>
  <%else%>
    <%= image_tag("keen.jpg", class:"avatar-profile")%>
    <% end %>
  <div class="profile-information">
    <h2><%= @user.username %></h2>
    <p>Username</p>
    <h2><%= @user.email %></h2>
    <p>Email</p>
    <h2><%= @user.age %></h2>
    <p>Age</p>
  </div>
</div>
