<div class="profile-container">
    <%= link_to "edit profile", edit_user_registration_path, class:"btn-find"%>
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo.key, class:"avatar-profile" %>
  <%else%>
    <%= image_tag("keen.jpg", class:"avatar-profile")%>
    <% end %>
  <div class="profile-information">
    <h2><%= @user.username %></h2>
    <p>Username</p>
    <h2><%= @user.email %></h2>
    <p>Email</p>
    <h2><%= @user.age %></h2>
    <p>Age</p>
    <h2><%= @user.name %></h2>
    <p>Name</p>
    <h2><%= @user.first_name %></h2>
    <p>First Name</p>
  </div>
</div>

<% unless @user == current_user %>
  <% if Friendship.find_by(user: current_user, friend: @user) %>
    <% if Friendship.find_by(user: current_user, friend: @user).confirmed %>
    <h5>You're friends</h5>
    <% else %>
    <h5>Still waiting ...</h5>
    <% end %>
  <% else %>
    <%= link_to "Request friendship", friendships_path(user: @user.id), method: :post %>
  <% end %>
<% end %>
