<div class="container">
  <div class="wrapper">
    <h2 class="log-title">Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'btn-login' }) do |f| %>
      <div class="form-inputs">

        <div class="user-email">
          <%= f.input_field :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      placeholder: 'Email'
                      # input_html: { autocomplete: "email", class: 'input-log' }
                      %>
          <i class="fa fa-user"></i>
        </div>

        <div class="user-password">
        <%= f.input_field :password,
                    label: false,
                    required: false,
                    placeholder: 'Password'
                    # input_html: { autocomplete: "current-password", class: 'input-log' }
                     %>
        <i class="fa fa-key"></i>
        </div>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn-login' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
