<% @fields.each do |field| %>
  <div class="card-field my-3">
    <% if field.photos.count > 0 %>
      <div id="carousel-field-<%= field.id %>" class="carousel slide" data-bs-interval=false>
        <div class="carousel-inner">
          <% field.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>">
                <%= link_to field_path(field) do %>
                <div style="background-image: url(<%= cl_image_path photo.key%>); height: 200px;" class="field-pic">
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carousel-field-<%= field.id %>" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-field-<%= field.id %>" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-field-pricing" >
        <% if field.status_open? %>
          <span class="badge rounded-pill bg-success"><%= field.status.capitalize %></span>
        <% elsif field.status_closed? %>
          <span class="badge rounded-pill bg-danger"><%= field.status.capitalize %></span>
        <% else %>
          <span class="badge rounded-pill bg-warning text-dark"><%= field.status.capitalize %></span>
        <% end %>
      </div>
      <div class="card-field-infos">
        <div>
          <h2>
            <%= link_to field_path(field), class: 'text-decoration-none text-black' do %>
              <%= field.name  %>
            <% end %>
          </h2>
          <p>
            <i class="card-field-user text-center fas fa-star"></i>
            <strong> <%= field.average_rating %> <%= field.text_rating %></strong> <%= field.description %>
          </p>
          <p><%= field.address %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center px-3 pb-2">
          <%#= link_to "Find out more", field_path(field, query: { localisation: @address }), class:"btn-find text-white" %>
          <%# Bouton favori et delete pour les fields %>
          <% if current_user.fields.uniq.include? field %>
            <%= link_to field_favorite_path(field_id: field, id: current_user.favorites.find_by(field_id: field.id).id, source: 'fields'), method: :delete, class:'btn-fav' do %>
              <i class="fas fa-heart" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to field_favorites_path(field_id: field, source: 'fields'), method: :post, class:'btn-fav' do %>
              <i class="far fa-heart" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to field_favorites_path(field_id: field, source: 'fields'), method: :post, class:'btn-fav' do %>
        <i class="far fa-heart" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
