<div class="d-flex my-4 p-5 flex-column shadow-lg p-3 ">
    <p>XX résultats</p>
    <h1>Terrains de XXX vers XXX</h1>
    <div class="d-flex mt-3 align-items-center">
      <%= link_to "Indoor/Outdoor", "#", class: "btn btn-ghost mr-2" %>
      <%= link_to "Public/Private", "#", class: "btn btn-ghost mx-2" %>
      <%= link_to "# Reviews", "#", class: "btn btn-ghost ml-2" %>
      <p>Par meilleures notes</p>
    </div>


    <% @fields.each do |field|  %>
      <div class="card-field">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-field-infos">
          <div>
            <h2><%= link_to field.name, field_path(field), class: 'text-decoration-none text-black'%></h2>
            <p><%= field.description %></p>
            <p><%= field.address %></p>
          </div>
          <h2 class="card-field-pricing"><%= field.status %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-field-user avatar-bordered" />
        </div>
      </div>
    <% end %>

      <%# <div class="card-product my-3">
        <img src="" alt="">
          <div class="card-product-infos">
            <h2><%= link_to field.name, field_path(field), class: 'text-decoration-none text-black'%>
            <%# <p><%= field.description %>
            <%# <p><%= field.address %>
          <%# </div> %>
      <%# </div> %>
  </div>
