<div class="d-flex my-4 p-5 flex-column shadow-lg p-3 ">
    <p>XX résultats</p>
    <h1>Terrains de basket vers</h1>
    <% @fields.each do |field|  %>
      <div class="card-product my-3">
        <img src="" alt="">
          <div class="card-product-infos">
            <h2><%= link_to field.name, field_path(field), class: 'text-decoration-none text-black'%></h2>
            <p><%= field.description %></p>
            <p><%= field.address %></p>
          </div>
      </div>
    <% end %>
        <div class="container my-5 shadow p-3">
          <div class="rounded", style="width: 100%; height: 600px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
</div>
