<div class="d-flex blob">
<%# <% raise %>
  <div class="p-4 shadow-lg p-3 w-50">
    <p> <%= @fields.all.count %> results</p>
        <h2><span><%= params.dig(:query, :sport).present? ? params.dig(:query, :sport) : "Sports" %> </span> fields</h2>
        <span><%= params.dig(:query, :address).present? ? "near #{params.dig(:query, :address)}" : "in Paris" %></span>
    <%# Filter buttons and order dropdown %>
    <div class="d-flex mt-3 align-items-center">
      <div class="me-3">
        <div class="dropdown">
          <button class="btn btn-ghost ml-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Indoor / Outdoor
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to 'Indoor', request.params.merge(field_type: '0'), class: 'dropdown-item' %></li>
            <li><%= link_to 'Outdoor', request.params.merge(field_type: '1'), class: 'dropdown-item' %></li>
            <li><%= link_to 'Both', request.params.merge(field_type: '2'), class: 'dropdown-item' %></li>
          </ul>
          <%= link_to "Public/Private", "#", class: "btn btn-ghost mx-2" %>
          <%= link_to "Rating", "#", class: "btn btn-ghost ml-2" %>
        </div>
      </div>
      <span>By highest scores</span>
    </div>
    <%# Iteration over the fields, and cards %>
    <div>

      <%= render 'fields_list', fields: @fields %>
    </div>
    <%= paginate @fields %>
  </div>
  <div class="h-100 sticky-top w-50" style="z-index: 1;">
    <div class="rounded", style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
