<div class="container">
  <div class="d-flex justify-content-between align-items-start">
    <div class="d-flex flex-column pt-5 bg-white">
      <h1><%= @field.name %></h1>
      <h4><%= @field.address %></h4>
      <p><%= @field.description %></p>
      <div class="d-flex">
        <% if @field.status_open? %>
          <span class="badge rounded-pill bg-success me-2"><%= @field.status.capitalize %></span>
        <% elsif @field.status_closed? %>
          <span class="badge rounded-pill bg-danger me-2"><%= @field.status.capitalize %></span>
        <% else %>
          <span class="badge rounded-pill bg-warning text-dark me-2"><%= @field.status.capitalize %></span>
        <% end %>
        <span class="badge rounded-pill bg-secondary text-white"><%= @field.field_type %></span>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary text-white mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Go there!
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Find a slot that fits you</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-controller="flatpickr" data-flatpickr-field-id-value="<%= @field.id %>">
            <%= simple_form_for [@field, Presence.new] do |f| %>
              <%= f.input :day, as: :string, required: false, input_html: { data: { flatpickr_target: 'input' } } %>
              <%= render 'presences_by_hour', field: @field %>
              <%= f.button :submit, "Go", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">
  <div class="row  mb-5">
    <div class="w-50">
      <div class="">

        <% if @field.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this list</em></small>
        <% else %>
          <h3>Reviews</h3>
          <div class=" mb-5">
            <% @field.reviews.each do |review| %>
              <%= link_to review.user.username, profile_path, class:"text-decoration-none fw-bold" %>
              <div class="d-flex justify-content-between align-items-end">
                <div>
                  <% review.rating.times do %>
                    <i class="fas fa-star star-yellow"></i>
                  <% end %>
                  <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
                  <p class="mb-0"><%= review.comment%></p>
                </div>
                <div>
                  <%= link_to review_path(review), method: :delete do %>
                    <i class="fas fa-trash btn-delete"  ></i>
                  <% end %>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-3">
        <div class="bg-white rounded">
          <h3>Add your review</h3>
          <%= simple_form_for [@field, @review] do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
            <%= f.submit class:"btn-navbar" %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="w-50" style="z-index: 1;">
    <div class="rounded", style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
  </div>
  <%# on apelle la data depuis le controller mapbox.le marker se place sur les adresses.la clef api est importée depuis mapbox %>
</div>
