<div class="d-flex p-5 flex-column shadow-lg p-3 ">
  <h1><%= @field.name %></h1>
  <h4><%= @field.address %></h4>
</div>

<div class="container d-flex my-4 p-5 flex-column shadow-lg p-3 ">
  <h2>Details:</h2>
  <p><%= @field.description %></p>
  <p><strong>Type: </strong><%= @field.field_type %> </p>
  <p><strong> Status: </strong><%= @field.status %> </p>
</div>

<div class="container my-5 shadow p-3">
  <div class="rounded", style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<%# on apelle la data depuis le controller mapbox.le marker se place sur les adresses.la clef api est importée depuis mapbox %>
